[app]
version = "1.0"
debug = true

[mysql]
host = "127.0.0.1"
port = 3306
username = "root"
password = "root"
database = "library"
charset = "utf8mb4"
collection = "utf8mb4_general_ci"
maxOpenConns = 20
maxIdleConns = 10

[mongo]
host = "127.0.0.1"
port = 27017
# username = ""
# password = ""
timeout = 10000
poolLimit = 10

[redis]
host = "127.0.0.1"
port = 6379
# password = ""
# database = 0
connTimeout = 10000
readTimeout = 10000
writeTimeout = 10000
maxIdleConn = 10
maxActiveConn = 20
idleTimeout = 60000
testOnBorrow = 60000
poolWait = true

[email]
title = "yiigo"
host = "smtp.example.com"
port = 25
username = "yiigo@example.com"
password = "secret"

[log]
path = "app.log"
maxSize = 500
maxBackups = 0
maxAge = 0