[app]
env = "dev"
debug = true

[mysql]
host = "127.0.0.1"
port = 3306
username = "root"
password = "secret"
database = "test"
charset = "utf8mb4"
collection = "utf8mb4_general_ci"
connTimeout = 10
maxOpenConns = 10
maxIdleConns = 5
connMaxLifetime = 60
