[app]
version = "1.0"
debug = true

[mysql]
host = "127.0.0.1"
port = 3306
username = "root"
password = "secret"
database = "test"
charset = "utf8mb4"
collection = "utf8mb4_general_ci"
maxOpenConns = 20
maxIdleConns = 10
connMaxLifetime = 3600

[mongo]
host = "127.0.0.1"
port = 27017
# username = "test"
# password = "secret"
timeout = 10
poolLimit = 10

[redis]
host = "127.0.0.1"
port = 6379
# password = "secret"
# database = 0
connTimeout = 10
readTimeout = 10
writeTimeout = 10
maxActiveConn = 20
maxIdleConn = 10
idleTimeout = 3600
maxConnLifetime = 0
testOnBorrow = 60
poolWait = false

[email]
title = "yiigo"
host = "smtp.example.com"
port = 25
username = "yiigo@example.com"
password = "secret"

[log]
path = "app.log"
maxSize = 500
maxBackups = 0
maxAge = 0