[app]
env = "dev" # dev | beta | prod
debug = true
port = 8000

[db]

    [db.default]
    driver = "mysql"
    dsn = "username:password@tcp(localhost:3306)/dbname?timeout=10s&charset=utf8mb4&collation=utf8mb4_general_ci&parseTime=True&loc=Local"
    max_open_conns = 20
    max_idle_conns = 10
    conn_max_lifetime = 60

[redis]

    [redis.default]
    address = "127.0.0.1:6379"
    password = ""
    database = 0
    connect_timeout = 10
    read_timeout = 10
    write_timeout = 10
    pool_size = 10
    pool_limit = 20
    idle_timeout = 60
    wait_timeout = 10
    prefill_parallelism = 0

[log]

    [log.default]
    path = "logs/app.log"
    max_size = 500
    max_age = 0
    max_backups = 0
    compress = true
